<div class="background">
 <div class="header-container reveal">
   <div class="bubbles">
      <span style="left: 10%; width: 20px; height: 20px; animation-duration: 8s;"></span>
      <span style="left: 25%; width: 15px; height: 15px; animation-duration: 10s;"></span>
      <span style="left: 40%; width: 25px; height: 25px; animation-duration: 7s;"></span>
      <span style="left: 60%; width: 18px; height: 18px; animation-duration: 9s;"></span>
      <span style="left: 75%; width: 22px; height: 22px; animation-duration: 11s;"></span>
    </div>

 

  <div class="wrapper">
    <div class="bubble ring" style="--size: 40px; --left: 10%; --delay: 0s;"></div>
    <div class="bubble ring" style="--size: 25px; --left: 20%; --delay: 2s;"></div>
    <div class="bubble ring" style="--size: 30px; --left: 35%; --delay: 4s;"></div>
    <div class="bubble ring" style="--size: 50px; --left: 60%; --delay: 1s;"></div>
    <div class="bubble ring" style="--size: 20px; --left: 80%; --delay: 3s;"></div>
    <div class="bubble ring" style="--size: 40px; --left: 10%; --delay: 0s;"></div>
    <div class="bubble ring" style="--size: 25px; --left: 20%; --delay: 2s;"></div>
    <div class="bubble ring" style="--size: 30px; --left: 35%; --delay: 4s;"></div>
    <div class="bubble ring" style="--size: 50px; --left: 60%; --delay: 1s;"></div>
    <div class="bubble ring" style="--size: 20px; --left: 80%; --delay: 3s;"></div>
  </div>

    <img src="assets/profilepic.jpg" alt="Profile" class="profile-img" />
    <div class="header-text">
      <h1>Hi, I'm <span class="highlight">Stephen Ekeh</span></h1>
      <p class="title">Software Engineer</p>
    </div>
  </div>
</div>
