<section class="skills-section">
  <h2>My Skills</h2>
  <div class="skills-grid">
    <mat-card class="skill-card">JavaScript</mat-card>
    <mat-card class="skill-card">TypeScript</mat-card>
    <mat-card class="skill-card">React</mat-card>
    <mat-card class="skill-card">Angular</mat-card>
    <mat-card class="skill-card">Java</mat-card>
    <mat-card class="skill-card">Python</mat-card>
    <mat-card class="skill-card">Django</mat-card>
    <mat-card class="skill-card">Django RESTframework</mat-card>
    <mat-card class="skill-card">Spring Boot framework</mat-card>
    <mat-card class="skill-card">Microservice</mat-card>
    <mat-card class="skill-card">Spring Data JPA</mat-card>
    <mat-card class="skill-card">Spring Security</mat-card>
    <mat-card class="skill-card">PostgreSQL</mat-card>
    <mat-card class="skill-card">MySQL</mat-card>
    <mat-card class="skill-card">Git</mat-card>
    <mat-card class="skill-card">Docker</mat-card>
  </div>
</section>
